<footer class="site-footer">
  <div class="footer-inner">
    <p>© {{ "now" | date: "%Y" }} {{ site.title }}</p>
    <div class="footer-links">
      <a href="https://mail.google.com/mail/?view=cm&to=odiwasharon@gmail.com" class="btn" target="_blank">Email Me</a>
      <a
        href="https://www.linkedin.com/in/sharonodiwa/"
        class="btn btn-outline"
        target="_blank"
        >LinkedIn</a
      >
      <a
        href="https://github.com/Justsharon/sharonodiwa"
        class="btn btn-outline"
        target="_blank"
        >GitHub</a
      >
    </div>
  </div>
</footer>
